<footer class="page-footer grey darken-2">

    <div class="container">
        <div class="row">
            <div class="col l8 s12">
                <h5 class="white-text">About</h5>
                <p class="grey-text text-lighten-4">
                    This is the homework of node.js & express at hackYourFuture Kopenhagen,
                    Denmark
                    <br>
                    <u>Programming languages & tools used:</u>
                    HTML, CSS, Vanilla JS, JSON, Node.js, Express, Babel7, Parcel, Photoshop, Materializecss, WebStorm IDE
                </p>


            </div>

            <div class="col l4 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li>
                        <a class="white-text" href="https://hackyourfuture.dk/">
                            <i class="material-icons prefix">link</i> HYF copenhagen
                        </a>
                    </li>
                    <li>
                        <a class="white-text" href="https://github.com/HackYourFuture-CPH/JavaScript">
                            <i class="material-icons prefix">link</i> HYF github
                        </a>
                    </li>
                    <li>
                        <a class="white-text" href="https://github.com/zuhairtaha">
                            <i class="material-icons prefix">link</i> My github
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div class="footer-copyright">
        <div class="container">
            by <a class="orange-text text-lighten-3" href="https://tahasoft.com/">Zuhair Taha</a>
             @2018
        </div>
    </div>

</footer>

<script src="/public/dist/app.js"></script>
</body>
</html>