<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center white-text main-title">Note Taking</h1>
            <div class="row center">
                <h4 class="header col s12 light white-text">A modern responsive note taking application
                    </h4>
            </div>
            <div class="row center">
                <a href="#notes-bar" id="get-started"
                   class="btn-large waves-effect waves-light yellow darken-1 black-text scroll-to-notes">Get Started</a>
            </div>
            <br><br>

        </div>
    </div>
    <div class="parallax">
        <img src="/public/src/img/parallax-bg.jpg"
             alt="Unsplashed background img 1">
    </div>
</div>