<div class="row red lighten-2">
    <div class="col s12 white-text">
        <h3 class="container" id="notes-bar"><i class="material-icons small">event_note</i> Notes</h3>
    </div>
</div>


<div class="container row">

    <table class="highlight">
        <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Tags</th>
            <th>Control</th>
        </tr>
        </thead>

        <tbody id="notes-tbody">
        <!-- Notes will be rendered her -->
        </tbody>
    </table>
</div>