<!-- Modal Structure -->
<div id="view-note-modal" class="modal">
    <div id="note-view-modal-content" class="modal-content">
        <!-- note content will be rendered here... -->
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>