body {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

.main-title {
  font-family: 'Parisienne', cursive;
}

nav {
  .brand-logo {
    & > img {
      max-height: 2em;
    }
  }
}

.modal-header {
  padding: 1em 2em;
  h4 {
    font-weight: 100;
  }
}

.text-justify {
  text-align: justify;
}

.control-buttons {
  a {
    i {
      margin-right: 0;
    }
  }
}

#notes-bar {
  padding: 1em 0;
  font-weight: 100;
}

.light-weight {
  font-weight: 100;
}

.tag-span {
  padding: 0 .5em;
  margin-right: .5em
}

h5 {
  font-weight: 100;
}